# =====================
# Ignorar la carpeta servidor_django
# =====================
curso/servidor_django/
Proyectos_Python

# =====================
# Entornos virtuales
# =====================
venv/
env/
ENV/
.venv/