# Python cache
__pycache__/
*.py[cod]

# Environment
venv/
.env
.env/

# Logs and export files
*.docx
*.pbix
#*.log
#*.csv
#*.xlsx
#logs/

# IDEs
.vscode/
.idea/

# System files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.gitignore